* {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 18px;
}

button {
    width: 100px;
    height: 70px;
}

.display {
    width: 414px;
}